:root {
    --bg-color: #a6aac2;
    --primary-color: #051b31;
    --secondary-color: #28a7da;
    --tertiary-color: #b7d8f9;
    --light-color: #94caff;
    --mid-color: #2060a0;
    --padding-14: 14px;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mid-color);
    font-family: 'Roboto Mono', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-14);
    opacity: 0.5;
    z-index: 999;

}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 400ms;
}

#title {
    font-size: 1.4em;
}
a:hover {
    color: var(--primary-color);
    transition: 400ms;
}

.headerAnchor {
    padding: 8px;
}

main {
    padding: var(--padding-14);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend Deca light', sans-serif;
    color: var(--tertiary-color);
    background: linear-gradient(var(--mid-color), 300px, var(--primary-color));
    flex: 1;
}

.inputSection {
    width: 100%;
    max-width: 1000px;
}
.inputBar {
    display: flex;
    width: 100%;
    margin: 12px auto;
    max-width: 900px;
    /* gap: 14px; */
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 24px;
    transition: 300ms;
    align-items: center;
}

.inputBar:hover {
    background: var(--mid-color);
    transition: 300ms;
}


input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    flex: 1; 
    padding-left: 6px;
}

::placeholder {
    color: white;
    opacity: 0.5;
    font-style: italic;
}

.iconButton {
    border: unset;
    background: none;
    color: var(--secondary-color);
    font-size: 1.02em;
    cursor: pointer;
}

.category {
    padding-left: 12px;
}


.iconButton:last-child {
    padding-right: 8px;
}

.fa-chevron-up {
    transform: rotate(90deg);
    color: var(--secondary-color);
}
.date {
    font-style: italic;
    opacity: 0.5;
}

.entriesSection{
    max-width: 800px;
}


.addedEntry {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.detailBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entryCategory {
    height: 6px;
    width: 30px;
    border-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
}


footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-14);
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
}

footer a {
    padding: 0 var(--padding-14);

}