:root {
    --bg-color: #a6aac2;
    --primary-color: #051b31;
    --secondary-color: #28a7da;
    --tertiary-color: #b7d8f9;
    --light-color: #94caff;
    --mid-color: #2060a0;
    --padding-14: 14px;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mid-color);
    font-family: 'Roboto Mono', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-14);
    opacity: 0.5;
    z-index: 999;

}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 400ms;
}

#title {
    font-size: 1.4em;
}
a:hover {
    color: var(--primary-color);
    transition: 400ms;
    font-size: 1.2em;
}

.headerAnchor {
    padding: 8px;
}

main {
    padding: var(--padding-14);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend Deca light', sans-serif;
    background: linear-gradient(var(--mid-color), 300px, var(--primary-color));
    flex: 1;

}

.inputBar {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    gap: 14px;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 24px;
    transition: 300ms;
    align-items: center;

}

.inputBar:hover {
    /* border-color: transparent; */
    background: var(--primary-color);
    transition: 300ms;
}


input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    flex: 1;
    
}

::placeholder {
    color: black;
    opacity: 0.5;
    font-style: italic;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-14);
    position: fixed;
    bottom: 0;
}

footer a {
    padding: var(--padding-14);

}